anyio                  3.5.0
asgiref                3.5.0
bcrypt                 4.0.1
cffi                   1.15.1
click                  8.1.2
colorama               0.4.4
cryptography           40.0.1
DateTime               4.4
ecdsa                  0.18.0
fastapi                0.75.0
greenlet               1.1.2
h11                    0.13.0
idna                   3.3
mysql-connector-python 8.0.28
passlib                1.7.4
pip                    22.0.4
protobuf               3.20.0
pyasn1                 0.4.8
pycparser              2.21
pydantic               1.9.0
PyMySQL                1.0.2
python-jose            3.3.0
pytz                   2022.1
rsa                    4.9
setuptools             49.2.1
six                    1.16.0
sniffio                1.2.0
SQLAlchemy             1.4.34
starlette              0.17.1
typing_extensions      4.1.1
uvicorn                0.17.6
zope.interface         5.4.0